node_modules/
www/
dist/
.DS_Store
*.log
.idea/
.vscode/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/captures/
ios/App/Pods/
ios/DerivedData/
*.keystore
*.jks
!debug.keystore
.env
.env.*
